<!DOCTYPE html>
<html>
<head>
<title>Comics</title>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index">WCDB</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href={{ url_for('index') }}>Home</a></li>
        <li><a href={{ url_for('about') }}>About</a></li>
        <li><a href={{ url_for('comics') }}>Comics</a></li>
        <li><a href={{ url_for('authors') }}>Authors</a></li>
        <li><a href={{ url_for('genres') }}>Genres</a></li>
        <li><button onClick="randomLoad()" class="btn btn-default">Random Page</button></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h1 >Comics</h1>

<center>
<table border="1" style="width:99%" id="comicsTable">
  <tr>
    <th onclick="sortComics(0)">Name</th>
    <th onclick="sortComics(1)">Author</th>
    <th onclick="sortComics(2)">Genre</th>
    <th onclick="sortComics(3)">First Published</th>
    <th onclick="sortComics(4)">Number of Strips</th>
  </tr>

  <tr>
    <td><a href={{ url_for ('Awkward_Zombie') }}>Awkward Zombie</a></td>
    <td><a href={{ url_for ('Katie_Tiedrich') }}>Katie Tiedrich</a></td>
    <td>
<p><a href={{ url_for ('gagaday') }}>Gag-a-Day</a></p>
<p><a href={{ url_for ('comedy') }}>Comedy</a></p>
<p><a href={{ url_for ('parody') }}>Parody</a></p></td>
    <td>20 Spetember 2006</td>
    <td>502</td>
  </tr>

  <tr>
    <td><a href={{ url_for('CtrlAltDel') }}>CTRL+ALT+DEL</a></td>
    <td><a href={{ url_for('Tim_Buckley') }}>Tim Buckley</a></td>
    <td>
<p><a href={{ url_for('comedy') }}>Comedy</a></p>
<p><a href={{ url_for('gagaday') }}>Gag-a-Day</a></p>
<p><a href={{ url_for('slice_of_life') }}>Slice of Life</a></p>
<p><a href={{ url_for('parody') }}>Parody</a></p></td>
    <td>23 October 2002</td>
    <td>2,262</td>
  </tr>

  <tr>
    <td><a href={{ url_for('Paranatural') }}>Paranatural</a></td>
    <td><a href={{ url_for('Zack_Morrison') }}>Zack Morrison</a></td>
    <td>
<p><a href={{ url_for('comedy') }}>Comedy</a></p>
<p><a href={{ url_for('fantasy') }}Fantasy</a></p>
<p><a href={{ url_for('action') }}>Action</a></p></td>
    <td>1 May 2001</td>
    <td>393</td>
  </tr>

</table>
</center>

<script>
function randomLoad()
{
var myarray = new Array("action", "Awkward_Zombie", "comedy", "CtrlAltDel", "fantasy", "gagaday", "Katie_Tiedrich", "Paranatural", "parody", "slice_of_life", "Tim_Buckley", "Zack_Morrison");
var mynum = Math.floor(Math.random() * 12);
var location = window.location;

if (location == myarray[mynum])
{
randomLoad();
}

else
{
window.location = myarray[mynum];
}
}
</script>

<script>
function sortComics(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("comicsTable");
  switching = true;
  dir = "asc"; 
  while (switching) {
    switching = false;
    rows = table.getElementsByTagName("TR");
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;      
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

<center>
  <nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href={{ url_for('authors') }}>2</a></li>
    <li><a href={{ url_for('genres') }}>3</a></li>
    <li>
      <a href={{ url_for ('authors') }} aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</center>

</body>
</html>