<html>
<head>
<title>Tim Buckley</title>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index">WCDB</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href={{ url_for('index') }}>Home</a></li>
        <li><a href={{ url_for('about') }}>About</a></li>
        <li><a href={{ url_for('comics') }}>Comics</a></li>
        <li><a href={{ url_for('authors') }}>Authors</a></li>
        <li><a href={{ url_for('genres') }}>Genres</a></li>
        <li><button onClick="randomLoad()" class="btn btn-default">Random Page</button></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="page-header">
<h1>Tim Buckley</h1></div>
<img src="static/images/hqdefault.jpg" alt="Tim Buckley" style="width:480;height:360;">
<p>Twitter: 
<a href="https://twitter.com/timcad">
<img src="static/images/twitter-logo.jpg" alt="Twitter" style="width:30;height:31;">
</a>
</p>

<h2>Webcomic</h2>
<p><a href={{ url_for('CtrlAltDel') }}><i>Ctrl+Alt+Del</i></a> (genres: <a href={{ url_for('slice_of_life') }}>Slice of Life</a>, <a href={{ url_for('comedy') }}>Comedy</a>, <a href={{ url_for('parody') }}>Parody</a>)</p>

<h2>About</h2>
<p>Buckley was born on April 3, 1979, and has been drawing for most of his life. He has described himself as "an avid, even hardcore video gamer" and centers most of his comics around video games and video game culture.</p>
<p>In college, Buckley's girlfriend suffered a miscarriage after an unplanned pregnancy, which would later serve as the inspiration for one of his most well-known comic strips.</p>
<p>Buckley first became a webcomic artist in 2003, after deciding to practice sequential art as part of a portfolio. This practice would eventually become Ctrl+Alt+Del, his most well-known comic.</p>
<p>Buckley is a polarizing figure on the internet, and has courted much controversy. Among other things, he has been criticized for reusing assets in his artwork, overreliance on dialogue, poor handling of negative criticism, and wiki vandalism. There have also been rumors of Buckley sending explicit images of himself to minors, though these claims are unsubstantiated.</p>
<p>Buckley is currently married and has one son.</p>
<p>Aside from the many video games he's played, Buckley has cited <i>Penny Arcade</i> as his primary comic influence.</p>

<h2>Sources</h2>
<p>Tim Buckley photo:
https://www.youtube.com/watch?v=XtPexIpagg4</p>
<p>https://twitter.com/TimCAD</p>
<p>http://absath.livejournal.com/</p>
<p>http://www.cad-comic.com/</p>
<p>"Loss" interview: https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjXjeiNg-7SAhUK4YMKHbT3Co4QFggdMAA&url=http%3A%2F%2Fnymag.com%2Fselectall%2F2015%2F11%2Flongest-running-miscarriage-meme-on-the-web.html&usg=AFQjCNEa_mOtjhpd2s4b16ryJ5mw19PDuQ&sig2=hvVol1jLCeK8caAKvpwxRA&bvm=bv.150475504,d.amc</p>
<p>Tiny Twitter icon: http://www.travelandtourworld.com/news/article/four-seasons-resort-lanai-now-offers-exclusive-manele-golf-course-logo-merchandise-online/</p>

<script>
function randomLoad()
{
var myarray = new Array("action", "Awkward_Zombie", "comedy", "CtrlAltDel", "fantasy", "gagaday", "Katie_Tiedrich", "Paranatural", "parody", "slice_of_life", "Tim_Buckley", "Zack_Morrison");
var mynum = Math.floor(Math.random() * 12);
var location = window.location;

if (location == myarray[mynum])
{
randomLoad();
}

else
{
window.location = myarray[mynum];
}
}
</script>

</body>
</html>